<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>weebLine</title>
</head>
<body>
    <nav id="header">
        <div class="nav-bar">
            <!-- <ul class="header-buttons"> -->
                <!-- <li class="nav-buttons"> -->
                    <a class="header-buttons" id='home-button' href="/home">Home</a></br>
                <!-- </li> -->
                <!-- <li class="nav-buttons"> -->
                    <a class="header-buttons" id='new-button'href="/new">New Post</a></br>
                <!-- </li> -->
                <!-- <li class="nav-buttons"> -->
                <!-- </li> -->
            <!-- </ul> -->
        </div>
    </nav>
    <main>
        <ul>
            <% for(let i = 0; i < posts.length; i++){ %>
                <li id="post-object">
                    <form action="/home/<%=posts[i]._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                    <a href="/home/<%=posts[i]._id%>/edit"><button>Edit</button></a>
                    <img id="pfp"src="<%=posts[i].pfp %>">
                    <p><%=posts[i].username %></p></br>
                    <a href="/<%= posts[i]._id %> "><img id="post-img"src="<%=posts[i].img %>"></a></br>
                    <div><p><%=posts[i].username %></p><p><%=posts[i].description %> </p></div></br>
                    <a href="/<%= posts[i]._id %> ">Full User Review</a>
                </li>
                <% } %>  
        </ul>
    </main>
</body>
</html>